.sitemap {
    margin: 16px 0 0 78px;
    color: blue;
}
.trend {
    padding: 20px 2%;
    display: flex;
    justify-content: center;
    gap: 20px;
    color: #333333;
    background-color: #ffffff;
}

.trend .trend-item {
    flex: 1;
    position: relative;
    overflow: hidden;
    margin-left: 50px;
}

.trend .trend-item img {
    transition: all 0.7s
}

.trend .trend-item:hover img {
    transform: scale(1.1);
}

.trend .trend-item .trend-content-men {
    position: absolute;
    top: 75%;
    left: 32%;
    color: #000000;
    transform: translate(-70%, -50%);
    font-size: 15px;
    line-height: 2;
}

.trend .trend-item .trend-content-women {
    position: absolute;
    top: 75%;
    left: 30%;
    color: #ffffff;
    transform: translate(-70%, -50%);
    font-size: 16px;
    line-height: 2;
}
.trend .trend-item .trend-content-kid {
    position: absolute;
    top: 75%;
    left: 35%;
    color: #000000;
    transform: translate(-70%, -50%);
    font-size: 15px;
    line-height: 2;
}
.trend .trend-item  p {
    border-bottom: 2px solid #6e3d5b;   
}